<div class="layout">
  <div class="columns">
    <div class="column">
      <div class="markdown gap--large">
        <div class="richtext richtext--center gap--xxlarge">
          <div class="content content--large --center gap--medium text--center">
            <span class="value value--medium" data-value-fit="true" data-value-fit-max-height="170">
              <span id="quote">Loading quote…</span>
            </span>
            <div class="value value--small text--gray-2">
              <span id="author">Author</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://raw.githubusercontent.com/nicholaswilde/trmnl-sheet-quote/refs/heads/main/src/img/sheet-quote.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Display a random quote from a Google Sheet</span>
</div>
<script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.6/dist/purify.min.js"></script>
<script type="text/javascript">
  async function getQuote() {
    {% assign formatted_data = data | slice: 1, data.size - 1 %};
    var formatted_data = {{ formatted_data | json }};
    var quote2Index = {{ trmnl.plugin_settings.custom_fields_values.quote_index | plus: 0 }};
    var authorIndex = {{ trmnl.plugin_settings.custom_fields_values.author_index | plus: 0 }};

    if (formatted_data && formatted_data.length > 0) {
      var quoteIndex = Math.floor(Math.random() * formatted_data.length);
      document.querySelector('#quote').innerHTML = DOMPurify.sanitize(formatted_data[quoteIndex][quote2Index]);
      document.querySelector('#author').innerHTML = DOMPurify.sanitize(formatted_data[quoteIndex][authorIndex]);
    }
  }
  getQuote();
</script>