<div class="layout">
  <div class="columns">
    <div class="column">
      <div class="markdown gap--large">
        <div class="richtext richtext--center gap--xxlarge">
          <div class="content content--large --center gap--medium text--center">
            <span class="value value--large" data-value-fit="true" data-value-fit-max-height="170">
              <span id="quote">Loading quote…</span>
            </span>
            <div class="value value--small">
              <span id="author">Author</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Display quotes from a Google Sheet</span>
</div>
<script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.6/dist/purify.min.js"></script>
<script type="text/javascript">
  async function getQuote() {
    {% assign formatted_data = data | slice: 1, data.size - 1 %};
    {% assign quoteIndex = "now" | date: "%N" | modulo: formatted_data.size - 1 %};
    {% assign quote2Index = trmnl.plugin_settings.custom_fields_values.quote_index|plus:0 %};
    {% assign authorIndex = trmnl.plugin_settings.custom_fields_values.author_index|plus:0 %};
    document.querySelector('#quote').innerHTML = DOMPurify.sanitize( {{ formatted_data[quoteIndex][quote2Index] | json }});
    document.querySelector('#author').innerHTML = DOMPurify.sanitize( {{ formatted_data[quoteIndex][authorIndex] | json }});
  }
  getQuote();
</script>